body {
  font-family: "Montserrat", sans-serif;
  background-color: #1a2c5b;
  max-width: 100%;
  color: #fff;
}

a {
  color: #60faff;
  text-decoration: none;
}

.centered {
  text-align: center;
}

.top-level-row {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
}

.App .background-card {
  border-radius: 10px;
  max-width: 100%;
  border: 1px solid #4a5ea5;
  box-shadow: 12px 12px 2px 1px #4a5ea5;
  margin: 50px auto;
  padding: 5px;
}
